table.elldatepicker {
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    background: #aaa;
    border-collapse: separate;
    border-spacing: 1px;
    box-shadow: 2px 2px 10px;
}
table.elldatepicker th {
    background: #797979;
    color: #fff;
    font-weight: bold;
    padding: 3px 5px;
}
table.elldatepicker td {
    background: #FFF;
    color: #000;
    padding: 3px 5px;
    text-align: center;
    height: 18px;
    width: 24px;
}
table.elldatepicker .elldtp-btn {
    font-size: 12px;
    cursor: pointer;
    display: block;
    color: #7CB842;
    font-weight: bold;
}
table.elldatepicker span.elldtp-nextMonth,
table.elldatepicker span.elldtp-prevMonth {
    font-size: 22px;
    display: inline-block;
}
table.elldatepicker span.elldtp-nextHour,
table.elldatepicker span.elldtp-prevHour,
table.elldatepicker span.elldtp-nextMinute,
table.elldatepicker span.elldtp-prevMinute
{
    font-size: 12px;
    display: block;
}
table.elldatepicker span.elldtp-nextHour,
table.elldatepicker span.elldtp-nextMinute
{
    margin-top: -3px;
}
table.elldatepicker span.elldtp-controlsHour,
table.elldatepicker span.elldtp-controlsMinute
{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
table.elldatepicker input[name="elldtpHour"],
table.elldatepicker input[name="elldtpMinute"]
{
    vertical-align: middle;
}
table.elldatepicker td.elldtp-hover{
    background: #E0FF97;
    cursor: pointer;
}
table.elldatepicker td.elldtp-chosen {
    background: #7CB842;
    color: #E0FF97;
    font-weight: bold;
}
table.elldatepicker td.elldtp-chosen.elldtp-hover {
    background: #96c458;
    color: #fff;
}
table.elldatepicker td.elldtp-today {
    color: #4E9E00;
    font-weight: bold;
}
table.elldatepicker td.elldtp-today.elldtp-chosen{
    color: #E0FF97;
    font-weight: bold;
}
table.elldatepicker td.elldtp-disabled, table.elldatepicker td.elldtp-disabled.elldtp-hover {
    background: #fff;
    color: #888;
}
table.elldatepicker td.elldtp-date-prevmonth, table.elldatepicker td.elldtp-date-nextmonth {
    background: #fff;
    color: #888;
}
table.elldatepicker td.elldtp-date-prevmonth.elldtp-hover , table.elldatepicker td.elldtp-date-nextmonth.elldtp-hover {
    background: #fff;
    cursor: default;
}
table.elldatepicker td.elldtp-unselectable,
table.elldatepicker td.elldtp-unselectable:hover,
table.elldatepicker td.elldtp-unselectable.elldtp-hover {
    background: #bbb;
    color: #888;
}