table.elldatepicker {
    font-family: Courier New, Courier New, monospace;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #000;
    background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.elldatepicker th {
    background: #333;
    color: #fff;
    font-weight: bold;
    padding: 3px 5px;
}
table.elldatepicker td {
    background: #ccc;
    color: #000;
    padding: 3px 5px;
    text-align: center;
    height: 18px;
    width: 18px;
}
table.elldatepicker .elldtp-btn {
    font-size: 12px;
    cursor: pointer;
    display: block;
}
table.elldatepicker span.elldtp-nextMonth,
table.elldatepicker span.elldtp-prevMonth {
    font-size: 25px;
    display: inline-block;
}
table.elldatepicker span.elldtp-nextHour,
table.elldatepicker span.elldtp-prevHour,
table.elldatepicker span.elldtp-nextMinute,
table.elldatepicker span.elldtp-prevMinute
{
    font-size: 14px;
    display: block;
}
table.elldatepicker span.elldtp-nextHour,
table.elldatepicker span.elldtp-nextMinute
{
    margin-top: -3px;
}
table.elldatepicker span.elldtp-controlsHour,
table.elldatepicker span.elldtp-controlsMinute
{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
table.elldatepicker input[name="elldtpHour"],
table.elldatepicker input[name="elldtpMinute"]
{
    vertical-align: middle;
}
table.elldatepicker td.elldtp-chosen {
    background: #7CB842;
    color: #fff;
    font-weight: bold;
}
table.elldatepicker td.elldtp-today {
    color: blue;
    font-weight: bold;
}
table.elldatepicker td.elldtp-chosen.elldtp-hover {
    background: #96c458;
    color: #fff;
}
table.elldatepicker td.elldtp-hover{
    background: #fff;
    color: #000;
    cursor: pointer;
}
table.elldatepicker td.elldtp-disabled, table.elldatepicker td.elldtp-disabled.elldtp-hover {
    background: #bbb;
    color: #888;
}
table.elldatepicker td.elldtp-date-prevmonth, table.elldatepicker td.elldtp-date-nextmonth {
    color: #888;
}
table.elldatepicker td.elldtp-unselectable,
table.elldatepicker td.elldtp-unselectable:hover,
table.elldatepicker td.elldtp-unselectable.elldtp-hover {
    background: #bbb;
    color: #888;
}